.prostowapp {
    --main-color: #FFCC00;
    --main-color-hover: #ecbf0a;
}

.style-select.prostowapp {
    margin-bottom: 10px;
    width: 150px;
}

.option-style.prostowapp {
    background-color: var(--main-color);
    font-size: inherit;
    color: #000;
    font-weight: bold;
}

.ac-form-button.prostowapp {
    text-align: center;
    width: 100%;
    margin: 10px 0px;
    padding: 10px 0px;
}

.ac-form-button.prostowapp:hover {
    cursor: pointer;
}

div[class*="server-"].prostowapp {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    align-items: center;
    -webkit-align-items: center;
}

.btn-center.prostowapp {
    width: 50%;
    margin: auto;
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: center;
}

.not-pay-alert.prostowapp {
    background-color: #ffc6a8;
    border: 1px solid #cc7766;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.not-pay-alert.prostowapp div {
    color: #6f0300;
    font-weight: bold;
    margin: 10px;
}

.payment__label.prostowapp {
    height: 115px;
    float: left;
    background-color: #ff6;
    width: 45%;
    margin: 2%;
    text-align: center;
    border-radius: 4px;
    display: flex;
    cursor: pointer;
}

.payment__label:hover.prostowapp {
    outline: 2px solid #fc3;
}

.payment__input.prostowapp {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.payment__input:checked.prostowapp + .payment__label.prostowapp {
    outline: 4px solid #fc3;
}

.payment__sticker.prostowapp {
    color: #000;
    font-weight: bold;
    margin: auto;
}

.payment__price.prostowapp {
    font-size: 25px;
    margin-top: 10px;
}

.server-success.prostowapp {
    background-color: #c1ffc1;
    border: 1px solid #063;
    width: 100%;
}

.server-success--with-padding.prostowapp {
    margin: 15px 0 10px;
}

.server-success.prostowapp div {
    color: #063;
    font-weight: bold;
    margin: 20px;
    width:100%;
}

.server-error.prostowapp {
    background-color: #f63;
    border: 1px solid #900;
}

.server-error.prostowapp div {
    color: #900;
    font-weight: bold;
    margin: 23px;
}

.server-no-contacts.prostowapp {
    background-color: #edf8d8;
    border: 1px solid #330;
}

.server-no-contacts.prostowapp div {
    color: #330;
    font-weight: bold;
    margin: 20px;
}

#wa_message.prostowapp {
    margin-top: 10px;
    background-color: #edf8d8;
    color: #330;
    width: calc(100% - 10px);
    height: calc(250px - 10px);
    resize: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 10px 0px 0px 10px;
}

.span-text.prostowapp {
    color: #333;
    margin-left: 10px;
    text-decoration: none;
    font: 400 14px Arial;
}

.span-text.prostowapp:hover {
    color: #000;
    cursor: pointer;
    text-decoration: underline;
}

.span-text-2.prostowapp {
    color: #555;
}

.back.prostowapp {
    background-color: var(--main-color);
    width: 100%;
    height: 60px;
    color: #000;
    font-weight: bold;
    border: 0px solid #AAA;
    border-radius: 4px;
    margin: 5px;
}

.back.prostowapp:hover {
    cursor: pointer;
    background-color: var(--main-color-hover);
}

.add-file-btn.prostowapp {
    display: inline-flex;
    cursor: pointer;
}

.t-menu-style-head.prostowapp {
    background-color: #EDF8D8;
    border-radius: 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 0px 0px;
    border: 1px solid #330;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    align-items: center;
    -webkit-align-items: center;
    height: 55px;
    margin: 5px 0;
}

.t-menu-style-body.prostowapp {
    background-color: #fff;
    color: #000;
    border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #330;
    font-size: 16px;
    display: none;
    padding: 10px;
}

#t-container.prostowapp {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    display: flex;
    min-width: 890px;
}

#t-list.prostowapp {
    width: 50%;
    min-width: 500px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

#t-message.prostowapp {
    width: 50%;
    min-width: 370px;
    margin-left: 20px;
    position: relative;
}

.support.prostowapp  {
    padding-top: 20px;
    margin-top: auto;
}

.support.prostowapp a  {
    color: #063;
}

#prostowapp-main-modal {
    width: 970px;
}

#prostowapp-editor-modal {
    min-width: 500px;
    max-width: 700px;
    width: 100%;
}

#prostowapp-add-modal {
    width: 100%;
    min-width: 500px;
    max-width: 700px;
}

.tool.prostowapp {
    height: 15px;
    margin-left: 10px;
}

.clip.prostowapp {
    height: 30px;
    margin: auto 10px;
}

.tool.prostowapp:hover {
    cursor: pointer;
}

.label.prostowapp {
    display: inline-block;
    width: 110px;
}

input.prostowapp::placeholder {
    color: #bbb;
}

input#name.prostowapp {
    background-color: #edf8d8;
    border: 1px solid #330;
    color: #330;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    width: 100%;
}

textarea#text.prostowapp {
    background-color: #edf8d8;
    border: 1px solid #330;
    color: #330;
    height: 250px;
    width: 100%;
    resize: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
#edit-submit.prostowapp,
#add-submit.prostowapp,
#add-block.prostowapp,
.add-position.prostowapp,
#del-yes.prostowapp,
#del-no.prostowapp,
.back.prostowapp {
   padding: 0px;
   margin: 5px 5px 5px 5px;
}

img.queue.prostowapp {
   height: 7px;
   margin-left: 20px;
}

.div-body.prostowapp {
    margin: 10px;
}

.checkbox-position.prostowapp {
    background: #edf8d8;
    margin-bottom: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 10px 0px;
}

.chbox.prostowapp {
    margin-left: 15px;
    margin-right: 10px;
}

#modal-template.prostowapp {
    text-align: center;
    width: 100%;
    padding: 10px 0px;
}

#del-yes.prostowapp {
    margin: 5px 5px 5px 5px;
}

#ps-text.prostowapp {
    width: 100%;
    height: 100px;
    resize: none;
    background-color: #f9f9f9;
    border: 1px solid #aaa;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.client-fields.prostowapp {
    border-bottom: 1px solid #555;
    width: 350px;
}

#success_request.prostowapp {
    display: none;
}

#free-message-container.prostowapp {
    margin-top: 20px;
    user-select: none;
}

#free-message-container.prostowapp [type=checkbox] {
    margin-left: 0.25em;
    transform: scale(1.5);
    cursor:pointer;
}

#widget-settings.prostowapp {
    margin-left: 20px;
}

#black-number-input.prostowapp {
    background: #EDF8D8;
    border-color: #330;
    border-radius: 5px;
    margin-right: 15px;
    height: 40px;
    padding-left: 10px;
    font-weight: bold;
}

.delete-black-number.prostowapp {
    font-weight: bold;
    margin-right: 15px;
    cursor: pointer;
    color: #000;
}

.delete-black-number.prostowapp:hover {
    color: #FFCC09;
}
.menu.prostowapp{
    margin-bottom: 1em;
    width: 100%;
    height: 60px;
    display: flex;
}
.menu__tab.prostowapp{
    font-weight:bold;
    font-size :20px;
    height: 100%;
    width: 30%;
    margin:auto;
    background: transparent;
    color: #063;
    cursor:pointer;
    opacity: 0.6;
}

.menu__tab:hover.prostowapp{
    opacity: 1;
}

.menu__tab--active.prostowapp{
    opacity: 1;
    border-bottom: 2px solid #063;
}
.prostowapp .settingsIframe {
    width: 100%;
    height: 500px;
}

.test-button.prostowapp {
    background-color: #c1ffc1;
    width: 50%;
    cursor: pointer;
    margin: 0px 25%;
    text-rendering: geometricPrecision;
    border-radius: 4px;
}
.test-button.prostowapp div {
    color: #063;
    font-weight: bold;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    text-transform: uppercase;
}

.test-button.prostowapp:hover {
    background-color: #b0f0b0;
}

.prostowapp .test_bug{
    color: #063;
    font-weight: bold;
    margin: 20px;
    width: 100%;
}

.prostowapp .contacts {
    margin-bottom: 15px;
}

.prostowapp .contacts__title {
    margin-bottom: 10px;
}

.prostowapp .contact {
    user-select: none;
    border-bottom: solid 1px #ccc;
    margin-bottom: 5px;
    display: flex;
}

.prostowapp .contact__name {
    opacity: 0.5;
    color: #555;
    width: 165px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.prostowapp .contact__select {
    padding-left: 18px;
    opacity: 0.5;
    width: 160px;
    pointer-events: none;
    background-color: var(--main-color);
}

.prostowapp .contact__checkbox {
    order: 1;
    margin:auto;
    transform: scale(1.2);
}

.prostowapp .contact__checkbox:checked ~ .contact__select,
.prostowapp .contact__checkbox:checked ~ .contact__name {
    pointer-events: auto;
    opacity: 1;
}

.prostowapp .contact__select--only {
    -webkit-appearance: none;
    appearance: none;
}

.prostowapp .contact__checkbox:checked ~ .contact__select--only {
    pointer-events: none;
}

.prostowapp .add-template {
    margin-bottom: 5px;
}

.prostowapp .message-title {
    display: flex;
}

.prostowapp .message-title__info-icon {
    margin-left: 3px;
}

.prostowapp .message-title__info-text {
    margin-top: 1em;
    border: 1px solid #900;
    border-radius: 5px;
    background: #fff;
    color: #900;
    width: 650px;
    height: auto;
    overflow: hidden;
    padding: 10px;
    text-align: justify;
    display: none;
    z-index: 100000000;
    position: absolute;
    margin-left: calc(100% - 650px);
}

.prostowapp .message-title__info-icon:hover ~ .message-title__info-text {
    display: block;
}

.send-message.prostowapp {
    display: flex;
    margin-top: 15px;
}