.style-select.prostowapp {
    margin-bottom: 10px;
    width: 150px;
}

.option-style.prostowapp {
    background-color: #FFCC33;
    font-size: inherit;
    color: #000;
    font-weight: bold;
}

.ac-form-button.prostowapp {
    text-align: center;
    width: 100%;
    margin: 10px 0px;
    padding: 10px 0px;
}

.ac-form-button.prostowapp:hover {
    cursor: pointer;
}

div[class*="server-"].prostowapp {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    align-items: center;
    -webkit-align-items: center;
}

.btn-center.prostowapp {
    width: 30%;
    /* height: 30px; */
    margin: auto;
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: center;
}

span.big-number.prostowapp {
    font-size: 25px;
}

.not-pay-alert.prostowapp {
    background-color: #ffc6a8;
    border: 1px solid #cc7766;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.not-pay-alert.prostowapp div {
    color: #6f0300;
    font-weight: bold;
    margin: 10px;
}

.payment.prostowapp {
    float: left;
    background-color: #ff6;
    /* border: 1px solid #fc3; */
    width: 45%;
    margin: 2%;
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.payment.prostowapp div {
    color: #000;
    font-weight: bold;
    margin: 10px;
}

.server-success.prostowapp {
    background-color: #c1ffc1;
    border: 1px solid #063;
    width: 100%;
}
.server-success.prostowapp div {
    color: #063;
    font-weight: bold;
    margin: 20px;
    width:100%;
}

.server-error.prostowapp {
    background-color: #f63;
    border: 1px solid #900;
}

.server-error.prostowapp div {
    color: #900;
    font-weight: bold;
    margin: 23px;
    width: 100%;
}

.server-no-contacts.prostowapp {
    background-color: #edf8d8;
    border: 1px solid #330;
}

.server-no-contacts.prostowapp div {
    color: #330;
    font-weight: bold;
    margin: 20px;
}

#wa_message.prostowapp {
    background-color: #edf8d8;
    color: #330;
    width: calc(100% - 10px);
    height: calc(250px - 10px);
    resize: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 10px 0px 0px 10px
}

.span-text.prostowapp {
    color: #333;
    margin-left: 10px;
    text-decoration: none;
    font: 400 14px Arial;
}

.span-text.prostowapp:hover {
    color: #000;
    cursor: pointer;
    text-decoration: underline;
}

.span-text-2.prostowapp {
    color: #555;
}

.back.prostowapp {
    background-image: linear-gradient(#FFCC00, #FFCC33 40%, #FFCC66);
    background-image: -webkit-linear-gradient(#FFCC00, #FFCC33 40%, #FFCC66);
    width: 100%;
    height: 60px;
    background-image: -moz-linear-gradient(#FFCC00, #FFCC33 40%, #FFCC66);
    background-image: -o-linear-gradient(#FFCC00, #FFCC33 40%, #FFCC66);
    background-image: -ms-linear-gradient(#FFCC00, #FFCC33 40%, #FFCC66);
    color: #000;
    font-weight: bold;
    border: 0px solid #AAA;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.back.prostowapp:hover {
    cursor: pointer;
}

.back2.prostowapp {
    background-image: linear-gradient(#0033CC, #3366FF 40%, #6699FF);
    background-image: -webkit-linear-gradient(#0033CC, #3366FF 40%, #6699FF);
    background-image: -moz-linear-gradient(#0033CC, #3366FF 40%, #6699FF);
    background-image: -o-linear-gradient(#0033CC, #3366FF 40%, #6699FF);
    background-image: -ms-linear-gradient(#0033CC, #3366FF 40%, #6699FF);
    color: #fff;
    font-weight: bold;
    border: 0px solid #AAA;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.back2.prostowapp:hover {
    cursor: pointer;
}

.add-file-btn.prostowapp {
    cursor: pointer;
}

.t-menu-style-head.prostowapp {
    background-color: #EDF8D8;
    border-radius: 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 0px 0px;
    border: 1px solid #330;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    align-items: center;
    -webkit-align-items: center;
    height: 55px;
    margin: 5px 0;
}

.t-menu-style-body.prostowapp {
    background-color: #fff;
    color: #000;
    border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #330;
    font-size: 16px;
    display: none;
    padding: 10px;
}

#t-container.prostowapp {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    display: flex;
    min-width: 890px;
}

#t-list.prostowapp {
    width: 50%;
    min-width: 500px;
    margin-right: 20px;
}

#t-message.prostowapp {
    width: 50%;
    min-width: 370px;
    margin-left: 20px;
}

#prostowapp-main-modal {
    min-width: 970px;
    max-width: 1100px;
    width: 80%;
}

#prostowapp-editor-modal {
    min-width: 500px;
    max-width: 700px;
    width: 100%;
}

#prostowapp-add-modal {
    width: 100%;
    min-width: 500px;
    max-width: 700px;
}

.tool.prostowapp {
    height: 15px;
    margin-left: 10px;
}

.clip.prostowapp {
    height: 30px;
    margin: 5px 0px 0px 15px;
}

.tool.prostowapp:hover {
    cursor: pointer;
}

.label.prostowapp {
    display: inline-block;
    width: 110px;
}

input.prostowapp::placeholder {
    color: #bbb;
}

input#name.prostowapp {
    background-color: #edf8d8;
    border: 1px solid #330;
    color: #330;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    width: 100%;
}

textarea#text.prostowapp {
    background-color: #edf8d8;
    border: 1px solid #330;
    color: #330;
    height: 250px;
    width: 100%;
    resize: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
#edit-submit.prostowapp, #add-submit.prostowapp, #add-block.prostowapp, .add-position.prostowapp, #del-yes.prostowapp, #del-no.prostowapp, .back.prostowapp, .back2.prostowapp  {
   padding: 0px;
   /* margin: 10px; */
}

img.queue.prostowapp {
   height: 7px;
   margin-left: 20px;
}

.div-body.prostowapp {
    margin: 10px;
}

.checkbox-position.prostowapp {
    background: #edf8d8;
    margin-bottom: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 10px 0px;
}

.chbox.prostowapp {
    margin-left: 15px;
    margin-right: 10px;
}

#modal-template.prostowapp {
    text-align: center;
    width: 100%;
    padding: 10px 0px;
}

#del-yes.prostowapp {
    margin-right: 20px;
}

#ps-text.prostowapp {
    width: 100%;
    height: 100px;
    resize: none;
    background-color: #f9f9f9;
    border: 1px solid #aaa;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.client-fields.prostowapp {
    border-bottom: 1px solid #555;
    width: 350px;
}

#success_request.prostowapp {
    display: none;
}

#warning.prostowapp {
    border: 1px solid #900;
    border-radius: 50%;
    background: #fff;
    color: #900;
    font-weight: bold;
    height: 20px;
    width: 20px;
    margin: 5px;
    display: inline-block;
    text-align: center;
}

#warning-window.prostowapp {
    border: 1px solid #900;
    border-radius: 5px;
    background: #fff;
    color: #900;
    width: 650px;
    padding: 10px;
    text-align: justify;
    display: none;
    z-index: 100000000;
    position: absolute;
    margin-left: -65vh;
}

#free-message-container.prostowapp {
    margin-top: 20px;
}

#free-message-container.prostowapp [type=checkbox] {
    transform:scale(1.5);
    cursor:pointer;
}

#widget-settings.prostowapp {
    margin-left: 20px;
}

#black-number-input.prostowapp {
    background: #EDF8D8;
    border-color: #330;
    border-radius: 5px;
    margin-right: 15px;
    height: 40px;
    padding-left: 10px;
    font-weight: bold;
}

.delete-black-number.prostowapp {
    font-weight: bold;
    margin-right: 15px;
    cursor: pointer;
    color: #000;
}

.delete-black-number.prostowapp:hover {
    color: #FFCC09;
}
.widget_menu_block{
    /* overflow: hidden; */
    width: 570px;
    border-bottom: 2px solid #063;
    margin: 0%;
    height: 60px;
    display: flex;
}
.widget_tab_block{
    font-weight:bold;
    font-size :20px;
    height: 100%;
    width: 30%;
    margin:auto;
    text-align: center;
    background: transparent;
    color: #063;
    cursor:pointer;
}
.settingsIframe {
    width: 100%;
    height: 500px;
}

.test-button.prostowapp {
    background-color: #c1ffc1;
    /* border: 1px solid #063; */
    width: 80%;
    cursor: pointer;
    margin: 0px 10%;
    text-rendering: geometricPrecision;
    border-radius: 4px;
}
.test-button.prostowapp div {
    color: #063;
    font-weight: bold;
    margin: 20px;
    width:100%;
}

.test_bug{
    color: #063;
    font-weight: bold;
    margin: 20px;
    width: 100%;
}
/* //////////////////////////////////// */
/* /////////////////////////////////// */
/* 
.tabs {
  width: 90%;
  float: none;
  list-style: none;
  position: relative;
  text-align: left;
}
.tabs li {
  float: right;
  display: block;
}
.tabs-input[type="radio"] {
  position: absolute;
  top: 5px;
  overflow: hidden;
}
.tabs-label {
  display: block;
  padding: 14px 21px;
  border-radius: 3px;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  background: #f9f9f9;
  cursor: pointer;
  position: relative;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  float: right;
}
.tabs label:hover {
  background: #f9f9f9;
}
.tabs .tab-content {
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  font-size: 17px;
  line-height: 25px;
  padding: 25px;
  position: absolute;
  top: 53px;
  left: 0;
  border-radius: 3px;
  background: #f1f1f1;
}
.tabs [id^="tab"]:checked + label {
  background: #f1f1f1;
}
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
} */

/* //////////////////////////////// */
/* /////////////////////////////// */
/* colors */
/* tab setting */
/* breakpoints */
/* selectors relative to radio inputs */
.tabs {
    left: 50%;
    -webkit-transform: translateX(-50%);
    position: relative;
  }
  .tabs input[name="tab-control"] {
    display: none;
  }
  .tabs .content section h2,
  .tabs ul li label {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 18px;
    color: #428BFF;
  }
  .tabs ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
  }
  .tabs ul li {
    box-sizing: border-box;
    flex: 1;
    width: 50%;
    padding: 0 10px;
    text-align: center;
  }
  .tabs ul li label {
    transition: all 0.3s ease-in-out;
    color: #929daf;
    padding: 5px auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .tabs ul li label br {
    display: none;
  }
  .tabs ul li label svg {
    fill: #929daf;
    height: 1.2em;
    vertical-align: bottom;
    margin-right: 0.2em;
    transition: all 0.2s ease-in-out;
  }
  .tabs ul li label:hover, .tabs ul li label:focus, .tabs ul li label:active {
    outline: 0;
    color: #bec5cf;
  }
  .tabs ul li label:hover svg, .tabs ul li label:focus svg, .tabs ul li label:active svg {
    fill: #bec5cf;
  }
  .tabs .slider {
    position: relative;
    width: 50%;
    transition: all 0.33s cubic-bezier(0.3, 0.7);
  }
  .tabs .slider .indicator {
    position: relative;
    width: 50px;
    max-width: 100%;
    margin: 0 auto;
    height: 4px;
    background: #063;
    border-radius: 2px;
  }
  .tabs .content {
    margin-top: 30px;
  }
  .tabs .content section {
    display: none;
    -webkit-animation-name: content;
            animation-name: content;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    line-height: 1.4;
  }
  .tabs .content section h2 {
    color: #063;
    display: none;
  }
  .tabs .content section h2::after {
    content: "";
    position: relative;
    display: block;
    width: 90px;
    height: 3px;
    background: #063;
    margin-top: 15px;
    left: 1px;
  }
  .tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
    cursor: default;
    color: #063;
  }
  .tabs input[name="tab-control"]:nth-of-type(1):checked ~ .slider {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .tabs input[name="tab-control"]:nth-of-type(1):checked ~ .content > section:nth-child(1) {
    display: block;
  }
  .tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
    cursor: default;
    color: #063;
  }
  .tabs input[name="tab-control"]:nth-of-type(2):checked ~ .slider {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .tabs input[name="tab-control"]:nth-of-type(2):checked ~ .content > section:nth-child(2) {
    display: block;
  }
  @-webkit-keyframes content {
    from {
      opacity: 0;
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(30%);
              transform: translateY(30%);
    }
  }
  @keyframes content {
    from {
      opacity: 0;
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(30%);
              transform: translateY(30%);
    }
  }
  @media (max-width: 300px) {
    ul li label {
      padding: 5px;
      border-radius: 5px;
    }
    ul li label span {
      display: none;
    }
  
    .slider {
      display: none;
    }
  
    .content {
      margin-top: 20px;
    }
    .content section h2 {
      display: block;
    }
  }
  